VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=smileyjobs-78778.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=smileyjobs-78778
VITE_FIREBASE_STORAGE_BUCKET=smileyjobs-78778.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

REACT_APP_PAYFAST_MERCHANT_ID=
REACT_APP_PAYFAST_MERCHANT_KEY=
REACT_APP_PAYFAST_SANDBOX=false
